pipeline/Copy_Text_Files_Only.json
{
	"name": "Copy_Text_Files_Only",
	"properties": {
		"activities": [
			{
				"name": "Get_Meta_Copy_txt_Files_Only",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Get_Meta_For_Filter_Activity_Source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_for_txt_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_Meta_Copy_txt_Files_Only",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Meta_Copy_txt_Files_Only').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.docx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For_each_txt_loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_for_txt_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_for_txt_files').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Only_txt_files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Source_copy_only_txt_files",
									"type": "DatasetReference",
									"parameters": {
										"Source_txt_file_only": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Target_copy_only_txt_files",
									"type": "DatasetReference",
									"parameters": {
										"Target_txt_files_only": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-10-08T12:34:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}