pipeline/Set_Variable_Pipeline.json
{
	"name": "Set_Variable_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Metadata_for_Set_Variable",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Source_DS_Set_Variable_Activity",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set_Variable_For_SQL_procedure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Metadata_for_Set_Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Child_Items_List",
					"value": {
						"value": "@activity('Metadata_for_Set_Variable').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For_Each_Activity_SQL_table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_Variable_For_SQL_procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Child_Items_List')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored_Procedure_SQL_table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Avinash]",
								"storedProcedureParameters": {
									"exist": {
										"value": {
											"value": "@activity('Metadata_for_Set_Variable').output.exists",
											"type": "Expression"
										},
										"type": "String"
									},
									"name": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"type": {
										"value": {
											"value": "@item().type",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Avinash_AZ_SQL_Linked_Service",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Child_Items_List": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-08T16:51:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}